{{>header}}
  <div id="tools"></div>

  <p class="pagetools">
   <a href="#/edit">Edit this page</a>
   <a href="#/history" class="wiki">History</a>
   <a href="#/upload">Upload File</a>
  </p>
  <div id="wiki">
   <div class="wiki">{{{body}}}</div>
  </div>
  
  <div id="pager" class="hottyper" >
   <dl>
    <dt class="{{{prio}}}" > Priority    </dt><dd>{{{prio}}} </dd>
    <dt class="{{{punct}}}" >Punctuation </dt><dd>{{{punct}}} </dd>
    <dt class="{{{state}}}" >State       </dt><dd>{{{state}}} </dd>
    <dt class="{{{queue}}}" >Queue       </dt><dd>{{{queue}}} </dd>
    <dt class="{{{ddate}}}" >Duedate     </dt><dd>{{{ddate}}} </dd>
    <dt class="{{{user}}}" > User        </dt><dd>{{{user}}} </dd>
   </dl>
   <div class="both"></div>
   <button>Edit Categories</button><!-- TODO server html with jquery.form.js http://malsup.com/jquery/form/ submit -->
  </div>
  <div id="comments"></div>
    {{#has_atts}}
    <div id="files">
      <p>Files attached to <em>{{title}}</em>:</p>
      <ul>
        {{#atts}}
          <dt><a href="{{uri}}">{{name}}</a> ({{type}})</li>
        {{/atts}}
      </ul>
    </div>
   {{/has_atts}}
 </body>

 <script src="../script/myloader.js"></script>
 <script src="/_utils/script/base64.js"></script>
 <script src="/_utils/script/jquery.form.js"></script>
 <script src="../script/wicketboard.js"></script>
 <script src="../script/wicketpresets.js"></script>
  
 
 <script type="text/javascript" charset="utf-8">
    opts.ddoc = {{{ddoc}}};
    $.couch.app(function(app) {
      $("#wiki").evently("wiki", app);
      $("#comments").evently("comments", app);
      $("#tools").evently("tools", app);

      $$("#wiki").docid = {{docid}};
      $$("#wiki").title = {{title_json}};
      $$("#wiki").rev = "{{rev}}";
      //for hottyper
      $$("#wiki").type = "{{{type}}}";
      $$("#wiki").prio = "{{{prio}}}";
      $$("#wiki").state = "{{state}}"; 
      $$("#wiki").punct = "{{{punct}}}";
      $$("#wiki").queue = "{{{queue}}}";
      $$("#wiki").user = "{{{user}}}";
      $$("#wiki").ddate = "{{{ddate}}}";

      $.pathbinder.begin("{{begin}}");
    }, opts);
 </script>
</html>
