/* the simple key less (values) css sytle */
/* general overwirtes page */
body			    		{ padding: 10px; }
body,
ul.todo li a:hover		    { color: #292929; } /* generall font, blck is so hard secndars would be #D2D2D2 */
a                           { text-decoration: none ;}
.wiki p			    		{ padding: 5px; }
#profile,
p.menu	    				{ float:none; }
#profile	    			{ background-color:white; }


#header,                    /* hefter */
#header a,
p.menu,
p.menu a,
.hottyper form,
button                       { color:white; background-color:#00263f; }

#header                      { background: url(../images/wicket_ticked_logo_blauerbakg_60.png) 20px 15px no-repeat #00263f; padding: 5px; }
#header a                    { padding: 0 25px; }
button                       { border-bottom: 1px !important;}
#header > div                { border: 1px solid white; height:75px; }
#header a[href$="index"]     { display: block; float: left; width: 150px; height: 75px;  border-right: 1px solid white; background-color: transparent; padding: 0; }
#header menu                 { bottom: 1px; border-top: 1px solid white;  margin: 50px 0 0 150px; padding-left: 5px; }

h1                          { float: left; height: 50px; margin-right: 15px;}


#wiki,
.pagetools a                { border: 1px solid #00263f; }
.pagetools a                { margin-left: 0 0 0 10px; border-bottom: none; padding: 0 10px; }
.pagetools                  { margin: 0 0 0 10px; }

/* notzp styles */
.warn                       { color: red; border: 1px solid white; margin: 3px ; padding: 2px 6px; }

/* satz und form */
#pager form,
#ticketer form,
#todoer form                { width:750px; }
textarea[name=markdown] 	{ width:700px; line-height:21px; }
#ticketer form textarea  	{ background: url(../images/subjectline.png) white 0 0 repeat-x; }
#todoerform textarea	    { background: url(../images/rainbowbakgrnd.png) white 0 0 repeat-x; }

/* evently */



.hottyper legend a           { font-size: 50%;}

.hottyper form div,
.hottyper form input         { border: 1px solid white;}
.hottyper form div           { float: left; padding-bottom: 4px; }
.hottyper form .top div      { margin: 0 4px 4px 0; }
.hottyper form .bot div      { margin: 4px 4px 0 0; }


.hottyper ul.selectable      { margin: 0;  display: inline; }
.hottyper ul.selectable li   { margin-right: 5px; list-style: none; }
.hottyper #puncts ul li      { display: inline; }


.hottyper p.warn             { display: none; } /* genauer !*/

.hottyper .top input         { width: 240px;}
.hottyper .bot input         { width: 177px;}

.hottyper .top div           { width: 225px;}
.hottyper .bot div           { width: 162px;}

.hottyper .top div,
.hottyper .bot div           { padding-left: 15px;}







#pager dt, #pager dd {
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 12px;
}
#pager dt {
    background-color: #8DA7CC;
    clear: both;
    color: white;
    float: left;
    margin-bottom: 1px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 50px;
    padding-top: 1px;
}
#pager dd {
    float: left;
    margin-left: 10px;
}




/* templates */
.editinfo				    { font-size: 80%; margin-top: 3px; }
input[readonly=readonly]     { color: gray; }

/* lists */
dl.ticket span				{ padding: 0 10px; }
dl.ticket                   { width:700px; padding: 5px; }

.ticket dt,
.ticket dd                    {  background-color: #b1bbc4; }
form.keyline                   {  background-color: white; }

dl.ticket dt                { padding: 10px 10px 0 10px ; }
dl.ticket dd                { margin: 0 0 10px 0; padding: 1px 10px ; }

ul.todo li		    		{ border-bottom: 1px solid #f2f1f0 ; list-style-type: none; padding: 2px 0 2px 2px; }
ul.todo li a				{ text-decoration: none; color: #D2D2D2; } // state_archive can never be a todo 
ul.todo li a span			{ vertical-align: super; font-size: 50%; }


/* keyline */
form.keyline           {  margin: 0; padding: 0; border: 0 solid white; }
.keyline a              { color: #121212; }

.keyline fieldset           { float: left; border: 1px solid black; margin: 0 2px; padding: 1px 6px 1px 1px; }

.keyline input,
.todo li span.punct         { width: 130px; margin-right: -4px; border: 1px solid #D2D2D2; background-color: #b1bbc4;}

.keyline input.autocomplete[readonly="readonly"]              { background: #b1bbc4 url(none)  ; }
.keyline input.autocomplete              { background: #b1bbc4 url(../images/dropdown.png) top right no-repeat ; }

input[name="id"],
input[name="_id"]             {  border: 1px solid #525252; font-family: monospace; font-weight: lighter; }
dt input[name="_id"]           { float: right;}

.keyline input[name="prio"]  { background: url(../images/prio_rainbow.png) 0 0 repeat-y white ; width: 78px; }
.keyline input[name="prio"]value  { border: 2px solid white ; color: black; }
.keyline input[name="punct"]  { width: 50px; }
         
.keyline input[value="1"]   { padding-left: 10px; width: 68px; } /* damm borderbox ;(*/
.keyline input[value="2"]   { padding-left: 35px; width: 38px; }
.keyline input[value="3"]   { padding-left: 60px; width: 18px;}

ul.puncts               { display: inline; }
ul.puncts li               { display: inline; }


.keyline legend                 { font-size: 60%; }

/* jquery anpasung */

.rail                      { height: 0; }

.ui-slider .ui-slider-handle    { background: url(../images/dropup.png) 0 0 no-repeat ; height: 7px; width: 14px; border: none; margin-left: 0 ;}


/** outermarkdown  **/
/* type */
.wiki					    { background-color:white; }
.ticket				    	{  }
.adr	    				{ background-color:orange; }



/*
.prio_1	    				{ color: green; }
body.hs .prio_2				{ color: #8da7cc; }
.prio_2,
body.hs .prio_3,
.attention	    			{ color: yellow; }
body.hs .prio_4				{ color: orange; }
body.hs .prio_5,
.prio_3,
.alert			    		{ color: red; }
*/


/*
.state_new			    	{ background-color: white; }
.state_progress				{ background-color: Salmon; }
.state_response				{ background-color: green; }
.state_test				    { background-color: red; } 
.state_done				    { background-color: blue; }
.state_archive				{ background-color: #D2D2D2 !important; }
*/


/*
._id    , #_id              { font-family: monospace;}
.prio   , #prio             { font-family: serif ; font-size: 120%; }
.state  , #state            { text-transform: uppercase; }
.punct  , #punct            { }
.queue  , #queue            { text-decoration:underline; }
*/

.user   , #user             { }
.duedate, #duedate          { }




.both                       { clear: both; }


/* jQuery switches */
.selectable .ui-selecting	{ background: silver; }
.selectable .ui-selected	{ background: gray; }

/*
121212
525252
C2C2C2
F2F2F2
*/


/*
some disput 
* BlueViolet
*/


/*
DUMP
*/
/* BRAUCHT niemand?
#classify				    { border: 1px solid blue; }
#classify .archive			{ border: 1px black blue; }
#wiki .wiki			    	{ margin: 5px 0 5px 0 ; width: 65%; }
#classify,
ul#punctrange li			{ display: inline; list-style-type: none; }
*/

/*
#hottypes			    	{ display: none; }
body.ticket #hottypes,
body.todoer #hottypes,
body #ticketer #hottypes		{ display: block !important; }
*/

/* hottypes */
/*
#hottypes                    { float: right; }
#ticketer form .blurb        { float: right; }
.hottypes div           {float: left; }
*/
